// Primary
$primary: #20232c;
$secondary: #191c23;
$text-primary: #7a89ab;
$text-secondary: #667084;
$input: #555c6e;

// Color cube
$mirage: #191d26;
$gallery: #ececec;
$kashmirBlue: #4c629e;
$olivine: #97c376;
$radicalRed: #f9245c;
$spicyMix: #855d45;
$amethyst: #b852bf;
$salomie: #fbd289;
$pohutukawa: #940310;
$pacificBlue: #03a0c7;

// Median cut
$clamShell: #d3b8ac;
$shark: #222229;
$waikawaGray: #525ca1;
$saltBox: #72697a;
$acapulco: #73b09a;

// Material design
$radicalRedVibrant: #f9245b;
$phariapMuted: #ab8988;
$orangeRoughyDarkVibrant: #b8421d;
$snipGrayDarkMuted: #44414c;
$tacaoLightVibrant: #f1c185;
